body{
	background-color:#32746D;
	color:whitesmoke;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
h1{
	text-align: center;
	font-size: 100px;
	padding-top: 3%;
}
form{
	padding-top: 3%;
}